<nav class="header-nav">
    <a id="logo" class="nav__link" href="/">RecommendIT</a>
    <div class="menu">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <input type="checkbox" id="menu-toggle">

        <ul class="header-menu">
            <li class="header__item"><a href="/weekly" class="nav__link">Weekly Recommendations</a></li>
            <li class="header__item"><a href="/lessThan30" class="nav__link">Less than 30$</a></li> 
            <!-- <li class="header__item"><a href="/add" class="nav__link">Add</a></li>   -->
        </ul>
    </div>
</nav>